{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableunqjz846"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableunqjz846\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtableunqjz846"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableunqjz846?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PropertyRename": "foo",
        "SomeInternalPropertyWithDataMember": "foo2",
        "PartitionKey": "partition",
        "RowKey": "1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://chrisstablesprim.table.core.windows.net/testtableunqjz846(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272021-06-02T20%3A30%3A17.6321684Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.core.windows.net/testtableunqjz846(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/testtableunqjz846()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrisstablesprim.table.core.windows.net/$metadata#testtableunqjz846",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-06-02T20%3A30%3A17.6321684Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2021-06-02T20:30:17.6321684Z",
            "PropertyRename": "foo",
            "SomeInternalPropertyWithDataMember": "foo2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.core.windows.net/Tables(\u0027testtableunqjz846\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "328864594",
    "STORAGE_ENDPOINT_SUFFIX": "core.windows.net",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrisstablesprim"
  }
}