{
  "Entries": [
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:17 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabley8nu4m2t"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272021-06-02T20%3A30%3A18.0435976Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabley8nu4m2t\u0027)"
      },
      "ResponseBody": {
        "TableName": "testtabley8nu4m2t",
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabley8nu4m2t?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PropertyRename": "foo",
        "SomeInternalPropertyWithDataMember": "foo2",
        "PartitionKey": "partition",
        "RowKey": "1"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272021-06-02T20%3A30%3A18.5696264Z\u0027\u0022",
        "Location": "https://chrisstablesprim.table.cosmos.azure.com/testtabley8nu4m2t(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/testtabley8nu4m2t()?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-06-02T20%3A30%3A18.5696264Z\u0027\u0022",
            "PropertyRename": "foo",
            "SomeInternalPropertyWithDataMember": "foo2",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2021-06-02T20:30:18.5696264Z"
          }
        ],
        "odata.metadata": "https://chrisstablesprim.table.cosmos.azure.com/$metadata#testtabley8nu4m2t"
      }
    },
    {
      "RequestUri": "https://chrisstablesprim.table.cosmos.azure.com/Tables(\u0027testtabley8nu4m2t\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 02 Jun 2021 20:30:18 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "COSMOS_TABLES_ENDPOINT_SUFFIX": null,
    "RandomSeed": "482174803",
    "TABLES_COSMOS_ACCOUNT_NAME": "chrisstablesprim",
    "TABLES_PRIMARY_COSMOS_ACCOUNT_KEY": "Kg=="
  }
}