{
  "InitialIssueTriage": "Off,
  "ManualIssueTriage": "Off,
  "ServiceAttention": "Off,
  "CXPAttention": "Off,
  "ManualTriageAfterExternalAssignment": "Off,
  "RequireAttentionForNonMilestone": "Off,
  "AuthorFeedbackNeeded": "Off,
  "IssueAddressed": "Off,
  "IssueAddressedReset": "Off,
  "AuthorFeedback": "Off,
  "ReopenIssue": "Off,
  "DeclineToReopenIssue": "Off,
  "IssueAddressedCommands": "Off,
  "PullRequestTriage": "Off,
  "ResetApprovalsForUntrustedChanges": "Off,
  "ReopenPullRequest": "Off,
  "ResetIssueActivity": "Off,
  "ResetPullRequestActivity": "Off,
  "CloseStaleIssues": "Off,
  "CloseStalePullRequests": "Off,
  "IdentifyStaleIssues": "Off,
  "IdentifyStalePullRequests": "Off,
  "CloseAddressedIssues": "Off,
  "LockClosedIssues": "Off
}
